/* Main CSS */

/* display will be 800x600 or 1024x768 */

/* Move content down because we have a fixed navbar that is 50px tall */
body {
	padding-top: 35px;
	line-height: normal;
}
:focus {
	outline: none;
}
/*.btn-default:hover {
	background-color: #ffffff;
}*/

code.text-default {
	color: #212121;
}

.text-pre {
	white-space: pre;
}
.text-prewrap {
	white-space: pre-wrap;
}

.hilite-blue {
	color: #3f3fff;
}

.panel {
	margin: 8px;
	border-radius: 1px;
}
.panel > .panel-heading {
	/*font-size: 18px;*/
	padding: 4px 8px;
	border-bottom: 1px solid #ddd;
}
.panel > .panel-body {
	padding: 0;
}
.panel > .panel-footer {
	border-top: 1px solid #ddd;
}
.pagination {
	margin: 0;
}
.pagination-sm > li > span {
	padding: 0 7px;
	font-size: 12px;
}

.nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
	/*float: right;*/
}
.nav-tabs {
	border-bottom: 1px solid #ddd;
}
.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}
.nav > li {
    position: relative;
    display: block;
}
/*.nav-tabs > li > span:hover {
    border-color: #eee #eee #ddd;
}*/
.nav > li > span:focus,
.nav > li > span:hover {
    text-decoration: none;
    background-color: #eee;
}
.nav-tabs > li.active > span,
.nav-tabs > li.active > span:focus,
.nav-tabs > li.active > span:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.nav > li > span {
	position: relative;
	display: block;
	padding: 2px 10px;
}
.nav-tabs > li > span {
	font-size: 13px;
	/*padding: 2px 15px;*/
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

h1, h2, h3, h4, h4, h5, h6 {
	color: inherit;
	margin: 0;
	display: inline-block;
}
/*.panel-info {
	border-color: #bce8f1;
}
.panel-info > .panel-heading {
	color: black;
	background-color: #d9edf7;
	background-image: linear-gradient(to bottom, #d9edf7 0, #c4e3f3 100%);
	border-bottom-color: rgb(188, 232, 241);
}*/

/* -- Workspace Header -- */
.navbar-fixed-top {
	border: 0;
}
/* Widget Label */
#header-widget-label {
	font-size: 20px;
	margin: 1px 0;
	padding-left: 4px;
}
#header-widget-icon {
	font-size: 18px;
	padding: 6px 0 0 4px;
}
/* StatusBar Widget */
#statusbar-widget > ul {
	font-size: 13px;
	margin: 6px 8px;
	line-height: 1.5;
}

/* -- Side Navigation Bar -- */
#sidebar {
	position: fixed;
    top: 35px;
    bottom: 0;
    right: 0;
	width: 90px;
    z-index: 1000;
    display: block;
    padding: 10px 8px;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #f8f8f8;
    border-left: 1px solid #eee;
}
#sidebar .btn {
	height: 65px;
	display: block;
	padding: 0;
	/*padding: 10px 6px 6px 6px;*/
	margin-bottom: 10px;
	border-radius: 0;
}

#sidebar .btn div:first-child {
	height: 60%;
	padding-top: 10px;
	/*border: 1px dashed green;*/
}
#sidebar .btn div:last-child {
	height: 40%;
	font-size: 13px;
	padding-bottom: 2px;
	/*border: 1px dashed red;*/
}

#sidebar .btn .glyphicon, #sidebar .btn .fa {
	font-size: 26px;
}
#sidebar .btn .fa {
	font-size: 26px;
}
#sidebar .fa-terminal, #sidebar .fa-wrench {
	font-size: 24px;
}

/* -- Widget Container -- */
.widget-container {
	/*-webkit-app-region: drag;*/
	position: fixed;
	top: 33px;
	left: 0;
	right: 90px;
	bottom: 0;
	padding: 0;
}
