/* Run Widget CSS */

.gcode-run-panel .panel-body {
    padding: 8px;
}
.gcode-run-panel .panel-heading div.btn-group {
	float: right;
	margin: 0 3px;
	padding: 0;
}
.gcode-run-panel .panel-heading .btn {
	/*float: right;*/
	padding-top: 3px;
	font-size: 11px;
}

.gcode-file-panel .panel-heading {
	height: 28px;
	/*padding-bottom: 0;*/
}
.gcode-file-text {
	overflow: auto;
	padding: 2px 5px;
}
.gcode-file-text samp,
.gcode-file-text code {
	/*margin: 2px;*/
	font-size: 12px;
	line-height: 13px;
}
