# Ignore the node_modules folder
node_modules/

html/settings-widget.html
css/settings-widget.css
js/settings-widget.js

html/help-widget.html
css/help-widget.css
js/help-widget.js

User_Settings.cson

connection-widget_*.cson

npm-debug.log

.todo
todo-notes.txt

# Linter Configuration Files
.eslintrc.json
.jshintrc

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

sendgrid.env
js/serial-log.json
js/lib/debug.js
probing-notes.nc
chilipeppr-probing-notes.nc
run-widget/Settings_Meta.cson
