/* Run Widget CSS */

#run-widget .left-panel-column,
#run-widget .right-panel-column {
    float: left;
}

#run-widget .left-panel-column {
    width: 50%;
}
#run-widget .right-panel-column {
    width: 50%;
}

#run-widget .right-panel-column .panel {
    margin-left: 2px;
}

/* -- File Panel -- */
.gcode-view-panel .panel-heading .btn-group {
    float: right;
    margin-left: 6px;
}
.gcode-view-panel .panel-heading .btn-group .btn {
    height: 20px;
    width: 21px;
    padding: 1px 2px;
}
.gcode-view-panel .panel-heading .btn-group .btn.open-file-btn {
    padding: 0;
}
.gcode-view-panel .panel-heading .btn-group .btn .fa {
    font-size: 12px;
}
.gcode-view-panel .panel-heading .btn-group .btn .material-icons {
    font-size: 17px;
}
.gcode-view-panel .panel-body {
    padding: 0;
}
.gcode-file-text {
    overflow: auto;
    padding: 0px;
    /*will-change: scroll-position;*/
}
.gcode-file-text samp,
.gcode-file-text code {
    /*margin: 2px;*/
    font-size: 12px;
    line-height: 13px;
}
.gcode-file-text .line-number {
    font-size: 8px;
    margin-right: 19px;
    margin-left: 0px;
    padding-left: 4px;
}

/* -- 3d View Panel */
.gcode-file-panel .panel-body {
    min-height: 100px;
}
.gcode-file-panel .gcode-plot {
    float: right;
}
.gcode-file-panel .left-column {
    float: left;
}
.gcode-file-panel .file-stats {
    position: relative;
    top: auto;
    max-width: 160px;
}
.gcode-file-panel .stat-pair {
    display: inline-flex;
}
.gcode-file-panel .stat-label {
    float: left;
    width: 105px;
}
.gcode-file-panel .stat-value {
    float: right;
    /*padding-left: 12px;*/
}

/* -- Run Panel -- */
/*.gcode-run-panel {
}
.gcode-run-panel .panel-heading div.btn-group {
	float: right;
	margin: 0 3px;
	padding: 0;
}
.gcode-run-panel .panel-heading .btn {
	padding-top: 3px;
	font-size: 11px;
}*/

/* -- Feedrate & Spindle Status -- */
.status-panel .status-label {
    float: left;
    font-size: 24px;
    width: 97px;
}
.status-panel .status-btns {
    float: left;
    /*width: 100px;*/
    margin: 2px 0 0 10px;
}
.status-panel .status-btns .btn {
    font-size: 14px;
    padding: 2px 5px;
    /*float: right;*/
}
.status-panel .status-value {
    float: right;
    font-size: 24px;
    padding-right: 22px;
    /*min-width: 120px;*/
    /*text-align: right;*/
}
.status-panel .status-units {
    position: relative;
    right: 6px;
    font-size: 13px;
    float: right;
    width: 48px;
}
.status-panel .progress {
    margin-top: 38px;
    margin-bottom: 6px;
    height: 10px;
}
.status-panel .progress-bar {
    min-width: 0.5em;
    width: 0%;
}

/* -- Feedrate Status -- */

/* -- Spindle Status -- */
.spindle-panel .spindle-ccw,
.spindle-panel .spindle-cw {
    float: right;
    margin-top: 6px;
    margin-right: 4px;
    margin: 6px 4px 0px 20px;
    font-size: 18px;
}

/* -- Machine Status -- */
.dro-panel .panel-body {
    padding: 0 8px;
}
.dro-panel .panel-body > div {
    height: 35px;
}
.dro-panel .btn-home,
.dro-panel .dro-label,
.dro-panel .dro-value {
    height: 100%;
    border: 1px;
    border-color: #ddd;
    border-radius: 0;
    border-style: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.dro-panel .y-axis-dro > div,
.dro-panel .z-axis-dro > div {
    border-top-style: solid;
}
.dro-panel .btn-home {
    width: 10%;
    float: left;
    font-size: 17px;
    text-align: center;
    padding: 5px 0 0 0;
}
.dro-panel .dro-label {
    width: 10%;
    float: left;
    padding-top: 2px;
    font-size: 24px;
    text-align: center;
}
.dro-panel .dro-value {
    width: 80%;
    float: right;
    font-size: 28px;
    text-align: right;
    padding-right: 40px;
    /*background-color: #f9f9f9;*/
}
.dro-panel .dro-units {
    position: relative;
    left: 11px;
    width: 25px;
    font-size: 13px;
    text-align: left;
    float: right;
}
.digits-dimmed {
    color: #e9e9e9;
}

.tool-panel .panel-heading .btn-group {
    float: right;
    margin-left: 6px;
}
.tool-panel .panel-heading .btn-group .btn {
    height: 20px;
    /*width: 21px;*/
    padding: 1px 4px;
}
/*.tool-panel .panel-heading .btn-group .btn.open-file-btn {
    padding: 0;
}*/
.tool-panel .panel-heading .btn-group .btn .fa {
    font-size: 12px;
}
.tool-panel .panel-heading .btn-group .btn .material-icons {
    font-size: 17px;
}
.tool-panel .panel-body {
    padding: 0;
    font-size: 13px;
    min-height: 16px;
}
.tool-panel .tool-item:first-child {
    /*padding-top: 8px;*/
}
.tool-panel .tool-item {
    /*margin: 0 4px;*/
    /*padding: 6px 4px 6px 4px;*/
    padding: 8px;
    border-bottom: 1px solid gray;
}
.tool-panel .tool-item:last-child {
    /*padding-bottom: 8px;*/
    border-bottom: none;
}
.tool-panel .tool-name {
    /*float: left;*/
}
.tool-panel .tool-desc {
    /*float: left;*/
}
.tool-panel  .tool-desc span {
    font-weight: lighter;
}
.tool-panel .tool-right-info {
    float: right;
}
.tool-panel .tool-right-info div {
    text-align: right;
}
.tool-panel .tool-gcode {
    font-weight: lighter;
}
