# Connection Widget Settings

SPJS: {
    # Sets the time (msec) that the program will wait between attempting to connect to the WebSocket.
    # If wsPollReconnect has a value of "null", no auto reconnection attempts will be made.
    wsReconnectDelay: 2000
    # Sets the time (msec) that the program will wait between getting the port list when there are no available ports.
	# If requestListDelay has a value of "null", no automatic list requests will be sent.
	# Use a value greater than approx 500ms to ensure the stability of the program.
    requestListDelay: null
    # requestListDelay: 10000
    exitUntrustedSpjs: true
}

consoleLog: {
    maxLineLimit: 500
    minLineLimit: 250
    staleCmdLimit: 10000
    minLineNumberDigits: 3
	# Sets if the time to verify a given command is added beside the command in the console log as a comment.
    commentTimeToVerify: true
    SPJS: {
		# placeholder [string] - Stores the text used as the placeholder for the <input> element.
        placeholder: "SPJS Command"
    	msgShow: {
    		default: true
    		stdout: true
    		stderr: true
    		Version: true
    		Commands: true
    		BufferAlgorithm: true
    		BaudRate: true
    		Hostname: true
    		SerialPorts: true
    		Open: true
    		OpenFail: true
    		Close: true
    		Broadcast: true
    		WipedQueue: true
    		Queued: true
    		Write: true
    		Complete: true
    		CompleteFake: true
    		Error: true
    		FeedRateOverride: true
    		RawPortData: true
    		GarbageCollection: true
    		GarbageHeap: true
    		ExecRuntimeStatus: true
    		ExecStatus: true
    		Command: true
    		MdiCommand: true
    		CommandEcho: false
        }
    }
    style:
    	lineWrap: false
    	default: "text-default"
    	stdout: "samp text-muted"
    	stderr: "samp text-muted"
    	Version: "text-muted"
    	Commands: "text-muted"
    	BufferAlgorithm: "text-muted"
    	BaudRate: "text-muted"
    	Hostname: "text-muted"
    	SerialPorts: "text-muted"
    	Open: "text-success"
    	OpenFail: "text-danger"
    	Close: "text-danger"
    	Broadcast: "text-info"
    	WipedQueue: "text-success"
    	Queued: "text-warning"
    	Write: "hilite-blue"
    	Complete: "text-success"
    	CompleteFake: "text-success"
    	Error: "text-danger"
    	FeedRateOverride: "text-info"
    	RawPortData: "text-info"
    	GarbageCollection: "text-muted"
    	GarbageHeap: "text-muted"
    	ExecRuntimeStatus: "text-muted"
    	ExecStatus: "text-muted"
    	SpjsCommand: "text-default" # A command sent to the SPJS that is placed in the respective port"s log.
    	Command: "samp text-default"
    	MdiCommand: "samp hilite-blue" # A command that originated at the text input field.
    	CmdComment: "samp text-muted"
    	CommandEcho: "text-default"
    # Command Verification Steps:
	# 1. Sent - Your Gcode has been sent to the SPJS.
	# 2. Queued - Gcode is queued inside the SPJS and waiting to be sent to the CNC controller"s serial buffer.
	# 3. Written - Gcode has been written to the serial buffer of your CNC controller and removed from the SPJS"s buffer.
	# 4. Completed - Gcode is completed when the CNC controller tells us it read the Gcode from it"s serial buffer and placed the Gcode into it"s planner buffer (this means the Gcode may only get executed seconds into the future as the planner buffer works it"s way through lines).
	# 5. Executed (optional) - The CNC controller tells us that your Gcode was actually executed. This is the final step. On controllers like TinyG this data only comes back if line numbers are in your Gcode.
	# 6. Error (optional) - The CNC controller failed to execute the line of Gcode. This could indicate a problem with your Gcode syntax, or that your CNC controller does not understand a particular Gcode command.
    verifyStyle:
    	New: "fa-check text-muted"
    	Sent: "fa-check text-default"
    	Queued: "fa-check text-warning"
    	Written: "fa-check hilite-blue"
    	Completed: "fa-check text-success"
    	Executed: "fa-check text-success"
    	Error: "fa-times text-danger"
	# Used to create the msgShow object in each port"s consoleLog object.
    msgShowDefault:
    	default: true
    	Open: true
    	OpenFail: true
    	Close: true
    	Broadcast: true
    	WipedQueue: true
    	Queued: true
    	Write: true
    	Complete: true
    	CompleteFake: true
    	Error: true
    	FeedRateOverride: true
    	RawPortData: true
    	SpjsCommand: true # A command sent to the SPJS that is placed in the respective port"s log.
    	Command: true
    	MdiCommand: true
}

#     Friendly: "Tinyg v9"
#     Baud: 115200
#     Buffer: "tinygg2"
#     VidPids: [
#         {
#             Vid: ""
#             Pid: ""
#         }
#     ]
# Information about different devices that will be connected to the spjs.
deviceMeta: [
    	"Friendly": "TinyG G2 Native",
    	"Baud": 115200,
    	"Buffer": "tinygg2",
    	"useReceivedFriendly": false,
    	"autoConnectPort": true,
    	"portMuted": false
    	# VidPids: [
        #     {
        # 		Vid: "1D50",
        # 		Pid: "606D"
        #     }
    	# ]
    ,
    	"Friendly": "TinyG G2 Native [Virtual]",
    	"Baud": 115200,
    	"Buffer": "tinygg2",
    	"useReceivedFriendly": false,
    	"autoConnectPort": false,
    	"portMuted": true
    	# VidPids: [
        #     {
        # 		Vid: "1D50",
        # 		Pid: "606D"
        #     }
    	# ]
    ,
		"Friendly": "TinyG G2 Programming",
		"Baud": 115200,
		"Buffer": "tinygg2",
		"useReceivedFriendly": false,
		"autoConnectPort": false,
		"portMuted": true
		# VidPids: [
        #     {
    	# 		Vid: "2341",
    	# 		Pid: "003D"
        #     }
		# ]
    ,
		"Friendly": "TinyG v8",
		"Baud": 115200,
		"Buffer": "tinyg",
		"useReceivedFriendly": false,
		"autoConnectPort": true,
		"portMuted": false
		# VidPids: [
        #     {
    	# 		Vid: "0403",
    	# 		Pid: "6015"
        #     }
		# ]
    ,
		"Friendly": "FTDI or TinyG",
		"Baud": 115200,
		"Buffer": "tinyg",
		"useReceivedFriendly": true,
		"autoConnectPort": true,
		"portMuted": false
		# VidPids: [
        #     {
    	# 		Vid: "",
    	# 		Pid: ""
        #     }
		# ]
    ,
		"Friendly": "Arduino Uno",
		"Baud": 9600,
		"Buffer": "default",
		"useReceivedFriendly": false,
		"autoConnectPort": false,
		"portMuted": false
		# VidPids: [
        #     {
    	# 		Vid: "2341",
    	# 		Pid: "0043"
        #     },
        #     {
		# 		Vid: "2341",
		# 		Pid: "0001"
        #     },
        #     {
        #     	Vid: "2A03",
		# 		Pid: "0043"
        #     }
		# ]
    ,
		"Friendly": "Arduino Duemilanove",
		"Baud": 9600,
		"Buffer": "default",
		"useReceivedFriendly": false,
		"autoConnectPort": false,
		"portMuted": false
		# VidPids: [
        #     {
    	# 		Vid: "0403",
    	# 		Pid: "6001"
        #     }
		# ]
    ,
		"Friendly": "Arduino Yun",
		"Baud": 9600,
		"Buffer": "default",
		"useReceivedFriendly": true,
		"autoConnectPort": false,
		"portMuted": false
		# VidPids: [
        #     {
    	# 		Vid: "2341",
    	# 		Pid: "0041"
        #     },
        #     {
		# 		Vid: "2341",
		# 		Pid: "8041"
        #     },
        #     {
		# 		Vid: "2A03",
		# 		Pid: "0041"
        #     },
        #     {
		# 		Vid: "2A03",
		# 		Pid: "8041"
        #     }
		# ]
    ,
		"Friendly": "Bossa Program Port",
		"Baud": 115200,
		"Buffer": "tinyg",
		"useReceivedFriendly": false,
		"autoConnectPort": false,
		"portMuted": false
		# VidPids: [
        #     {
    	# 		Vid: "03EB",
    	# 		Pid: "6124"
        #     }
		# ]
    ,
		"Friendly": "TI MSP430",
		"Baud": 9600,
		"Buffer": "default",
		"useReceivedFriendly": true,
		"autoConnectPort": false,
		"portMuted": false
		# VidPids: [
        #     {
    	# 		Vid: "2047",
    	# 		Pid: "0013"
        #     }
		# ]
]

# If VidPids does not match portVid and portPid, assume serial device is a TinyG v8 board.
defaultMetaIndex: 3

# initScripts are sent to a device with matching information when a port is opened to the device.
# Conditions: Friendly, Baud, Buffer, SerialNumber
initScripts: [
    {   # Arduino Uno (GRBL Board)
        "SerialNumber": "USB\\VID_2341&PID_0043\\5533031373535160F0B2",
        "script": [
            "{sn:n}",
            "{fb:n}"
        ],
        "pause": 100
    }
    {   # Arduino Due
        "Buffer": "tinygg2",
        "script": [
            "{sv:1}",
            "{si:250}",
            "{qv:2}",
            "{jv:4}",
            "{hp:n}",
            "{fb:n}",
            "{sr:n}",
            "{qr:n}"
        ],
        "pause": 1000
    }
    {   # TinyG
        "Buffer": "tinyg",
        "script": [
            "{sr:n}"
        ],
        "pause": 100
    }
    {   # Brayden's MSP430F5529
        "SerialNumber": "111D871D",
        "script": [
            "$G 0 0",
            "$G 1 1"
        ],
        "pause": 1000
    }
    # {
    #     "Buffer": "default",
    #     "script": [
    #         "{sr:n}",
    #         "{fb:n}"
    #     ],
    #     "pause": 100
    # }
]

# connectScripts are sent to a device with matching info if a port is already opened to the device on the SPJS but the UI just connected to the SPJS.
connectScripts: [
    {   # Arduino Due
        "Buffer": "tinygg2",
        "script": [
            "{hp:n}",
            "{fb:n}",
            "{sr:n}",
            "{qr:n}"
        ],
        "pause": 100
    }
    {   # TinyG
        "Buffer": "tinyg",
        "script": [
            "{sr:n}"
        ],
        "pause": 100
    }
]

# 3B3CC6A6 Vincent's MSP430
